In [17]:
import pandas as pd
import collections
import copy
import scipy.sparse as sp
import numpy as np

In [18]:
path = 'datasets/ml1m/u.data'
df = pd.read_csv(path, sep='\t', header=None,
        names=['user_id', 'item_id', 'rating', 'time'], index_col=False)
df

       user_id  item_id  rating       time
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
5          298      474       4  884182806
6          115      265       2  881171488
7          253      465       5  891628467
8          305      451       3  886324817
9            6       86       3  883603013
10          62      257       2  879372434
11         286     1014       5  879781125
12         200      222       5  876042340
13         210       40       3  891035994
14         224       29       3  888104457
15         303      785       3  879485318
16         122      387       5  879270459
17         194      274       2  879539794
18         291     1042       4  874834944
19         234     1184       2  892079237
20         119      392       4  886176814
21         167      486       4  892738452
22         299      144       4  877881320
23         291      118       2  874833878
24         308        1       4  887736532
25          95      546       2  879196566
26          38       95       5  892430094
27         102      768       2  883748450
28          63      277       4  875747401
29         160      234       5  876861185
...        ...      ...     ...        ...
99970      449      120       1  879959573
99971      661      762       2  876037121
99972      721      874       3  877137447
99973      821      151       4  874792889
99974      764      596       3  876243046
99975      537      443       3  886031752
99976      618      628       2  891308019
99977      487      291       3  883445079
99978      113      975       5  875936424
99979      943      391       2  888640291
99980      864      685       4  888891900
99981      750      323       3  879445877
99982      279       64       1  875308510
99983      646      750       3  888528902
99984      654      370       2  887863914
99985      617      582       4  883789294
99986      913      690       3  880824288
99987      660      229       2  891406212
99988      421      498       4  892241344
99989      495     1091       4  888637503
99990      806      421       4  882388897
99991      676      538       4  892685437
99992      721      262       3  877137285
99993      913      209       2  881367150
99994      378       78       3  880056976
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [37]:
df_ratehigh = df[df['rating']>=2]
df_ratehigh = df_ratehigh.drop(['time'], axis=1)
df_ratehigh

       user_id  item_id  rating
0          196      242       3
1          186      302       3
3          244       51       2
5          298      474       4
6          115      265       2
7          253      465       5
8          305      451       3
9            6       86       3
10          62      257       2
11         286     1014       5
12         200      222       5
13         210       40       3
14         224       29       3
15         303      785       3
16         122      387       5
17         194      274       2
18         291     1042       4
19         234     1184       2
20         119      392       4
21         167      486       4
22         299      144       4
23         291      118       2
24         308        1       4
25          95      546       2
26          38       95       5
27         102      768       2
28          63      277       4
29         160      234       5
30          50      246       3
31         301       98       4
...        ...      ...     ...
99967      897      369       4
99968      936      287       4
99969      936      766       3
99971      661      762       2
99972      721      874       3
99973      821      151       4
99974      764      596       3
99975      537      443       3
99976      618      628       2
99977      487      291       3
99978      113      975       5
99979      943      391       2
99980      864      685       4
99981      750      323       3
99983      646      750       3
99984      654      370       2
99985      617      582       4
99986      913      690       3
99987      660      229       2
99988      421      498       4
99989      495     1091       4
99990      806      421       4
99991      676      538       4
99992      721      262       3
99993      913      209       2
99994      378       78       3
99995      880      476       3
99996      716      204       5
99998       13      225       2
99999       12      203       3

[93890 rows x 3 columns]

In [38]:
msk = int(len(df_ratehigh) * 0.8)
train = df_ratehigh[:msk]
test = df_ratehigh[msk:]
train.head()

   user_id  item_id  rating
0      196      242       3
1      186      302       3
3      244       51       2
5      298      474       4
6      115      265       2

In [39]:
train.to_csv('datasets/mlmil/train_over2.csv', index=False, header=False)
test.to_csv('datasets/mlmil/test_over2.csv', index=False, header=False)