In [1]:
import pandas as pd
import collections
import copy
import scipy.sparse as sp
import numpy as np

In [2]:
path = 'datasets/ml1m/u.data'
df = pd.read_csv(path, sep='\t', header=None,
        names=['user_id', 'item_id', 'rating', 'time'], index_col=False)
df

       user_id  item_id  rating       time
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
5          298      474       4  884182806
6          115      265       2  881171488
7          253      465       5  891628467
8          305      451       3  886324817
9            6       86       3  883603013
10          62      257       2  879372434
11         286     1014       5  879781125
12         200      222       5  876042340
13         210       40       3  891035994
14         224       29       3  888104457
15         303      785       3  879485318
16         122      387       5  879270459
17         194      274       2  879539794
18         291     1042       4  874834944
19         234     1184       2  892079237
20         119      392       4  886176814
21         167      486       4  892738452
22         299      144       4  877881320
23         291      118       2  874833878
24         308        1       4  887736532
25          95      546       2  879196566
26          38       95       5  892430094
27         102      768       2  883748450
28          63      277       4  875747401
29         160      234       5  876861185
...        ...      ...     ...        ...
99970      449      120       1  879959573
99971      661      762       2  876037121
99972      721      874       3  877137447
99973      821      151       4  874792889
99974      764      596       3  876243046
99975      537      443       3  886031752
99976      618      628       2  891308019
99977      487      291       3  883445079
99978      113      975       5  875936424
99979      943      391       2  888640291
99980      864      685       4  888891900
99981      750      323       3  879445877
99982      279       64       1  875308510
99983      646      750       3  888528902
99984      654      370       2  887863914
99985      617      582       4  883789294
99986      913      690       3  880824288
99987      660      229       2  891406212
99988      421      498       4  892241344
99989      495     1091       4  888637503
99990      806      421       4  882388897
99991      676      538       4  892685437
99992      721      262       3  877137285
99993      913      209       2  881367150
99994      378       78       3  880056976
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [7]:
df_ratehigh = df[df['rating']<=2]
df_ratehigh = df_ratehigh.drop(['time'], axis=1)
df_ratehigh

       user_id  item_id  rating
2           22      377       1
3          244       51       2
4          166      346       1
6          115      265       2
10          62      257       2
17         194      274       2
19         234     1184       2
23         291      118       2
25          95      546       2
27         102      768       2
36         181     1081       1
38         276      796       1
42         201      979       2
51          81      432       2
55          72      679       2
61          20      288       1
66         167      232       1
72          92     1049       1
75         241      690       2
94         145      275       2
125        194      385       2
140        174      368       1
142        194     1211       2
143         82     1134       2
144         13      836       2
146        244      756       2
148         95      787       2
149         43       14       2
165         49      559       2
167        155      323       2
...        ...      ...     ...
99816      145      769       2
99819      648      456       2
99823      303     1086       1
99824      933      441       2
99836      734      294       1
99839      303      363       1
99843      916      148       2
99845      401      405       2
99862      937      294       1
99875      887      274       1
99877      715      778       2
99889      887     1063       1
99903      851     1013       2
99905      102        7       2
99926      868      405       1
99929      653      411       2
99933      929      276       2
99943      925      200       2
99965      934      216       1
99966      788      556       2
99970      449      120       1
99971      661      762       2
99976      618      628       2
99979      943      391       2
99982      279       64       1
99984      654      370       2
99987      660      229       2
99993      913      209       2
99997      276     1090       1
99998       13      225       2

[17480 rows x 3 columns]

In [8]:
msk = int(len(df_ratehigh) * 0.8)
train = df_ratehigh[:msk]
test = df_ratehigh[msk:]
train.head()

    user_id  item_id  rating
2        22      377       1
3       244       51       2
4       166      346       1
6       115      265       2
10       62      257       2

In [12]:
train.to_csv('datasets/mlmil/train_under2.csv', index=False, header=False)
test.to_csv('datasets/mlmil/test_under2.csv', index=False, header=False)

In [10]:
len(train)

13984

In [11]:
len(test)

3496